/* =========================================================================== */


/* Message
/* Mini Cart
/* Single Product
/* Product Zoom
/* Woo Buttons & Inputs
/* Tabs
/* Tags
/* Related
/* Upsells
/* Cart
/* Coupon
/* Products
/* Second Product Image
/* Products Grid
/* Pagination
/* Product Zoom
/* Checkout
/* - Woo Accordions
/* Thank you page

/* - Woo Categories Widget
/* - Woo Layered Widget
/* - Woo Mini Cart Widget
/* - Account Navigation


/* =========================================================================== */



/* Message
============================================================================= */
.grve-woo-error,
.grve-woo-info,
.grve-woo-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
	padding: 15px;
	line-height: 24px;
	max-width: 1170px;
	list-style: none;
	margin: 0 auto 2.500em auto;
	border: none;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
	display: none;
}

.grve-woo-error li,
.grve-woo-info li,
.grve-woo-message li {
	line-height: 24px;
}

#grve-theme-wrapper .grve-woo-error a.button,
#grve-theme-wrapper .grve-woo-info a.button,
#grve-theme-wrapper .grve-woo-message a.button,
.woocommerce .woocommerce-error a.button,
.woocommerce .woocommerce-info a.button,
.woocommerce .woocommerce-message a.button {
	margin: 0;
	line-height: 24px;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	overflow: visible;
	padding: 0;
	left: auto;
	color: inherit;
	background-color: transparent;
	border: 0;
	white-space: nowrap;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;
}


.grve-woo-error a.button:hover,
.grve-woo-info a.button:hover,
.grve-woo-message a.button:hover,
.woocommerce .woocommerce-error a.button:hover,
.woocommerce .woocommerce-info a.button:hover,
.woocommerce .woocommerce-message a.button:hover {
	color: inherit;
	opacity: 1;
	background-color: transparent;
}

.grve-woo-error a,
.grve-woo-info a,
.grve-woo-message a,
.woocommerce .woocommerce-error a,
.woocommerce .woocommerce-info a,
.woocommerce .woocommerce-message a {
	color: #ffffff;
	opacity: 0.8;
}

.grve-woo-error a:hover,
.grve-woo-info a:hover,
.grve-woo-message a:hover,
.woocommerce .woocommerce-error a:hover,
.woocommerce .woocommerce-info a:hover,
.woocommerce .woocommerce-message a:hover {
	color: #ffffff;
	opacity: 1;
}

.grve-woo-message a.button {
	float: right;
}

.checkout_coupon.coupon {
	margin-bottom: 2.500em !important;
}

/* Colors */
.woocommerce .woocommerce-error {
	background-color: #ff5252;
	color: #ffffff;
}

.woocommerce .woocommerce-info {
	background-color: #00b0ff;
	color: #ffffff;
}

.woocommerce .woocommerce-message {
	background-color: #66bb6a;
	color: #ffffff;
}


/* Mini Cart
============================================================================= */

/* Empty Cart */
.grve-empty-cart {
	text-align: center;
}

.grve-empty-icon-wrapper {
	position: relative;
	display: inline-block;
	margin-bottom: 24px;
}

.grve-empty-icon-wrapper .grve-icon-cart {
	font-size: 100px;
	line-height: 100px;
	display: block;
	opacity: 0.3;
}

/* List Products */
ul.grve-mini-cart {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.grve-mini-cart li {
	margin-bottom: 1.154em;
	padding-bottom: 1.154em;
	border-bottom: 1px solid;
	overflow: hidden;
}

ul.grve-mini-cart li:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.grve-product-thumb {
	float: left;
	width: 60px;
	margin-right: 1.154em;
}

.cart-item-content {
	overflow: hidden;
}

.cart-item-content span.quantity {
	display: block;
}

/* Cart Total */
.grve-cart-total {
	padding: 20px 0;
	text-align: center;
}

.grve-total-btn {
	padding-bottom: 40px;
}

.grve-total-btn .grve-btn + .grve-btn {
	margin-top: 15px !important;
}


/* Single Product
============================================================================= */
.grve-product-area {
	position: relative;
	z-index: 5;
}

.grve-product-area-wrapper {
	overflow: hidden;
}

.summary .grve-product-form {
	margin-top: 30px;
}

.woocommerce div.product div.images,
.woocommerce div.product div.summary {
	margin-bottom: 0;
	float: none;
	width: auto;
}

.woocommerce-main-image {
	position: relative;
}

.woocommerce div.product .grve-fullwidth div.images.grve-product-images {
	max-width: 1100px;
	margin-left: auto;
	padding: 0 30px;
	overflow: hidden;
}

.woocommerce div.product div.images.grve-product-images img {
	width: auto;
	margin: 0 auto;
}

.woocommerce div.product .grve-fullwidth div.summary {
	max-width: 570px;
	margin-right: auto;
	padding: 0 30px;
}

.woocommerce div.product div.images.grve-product-images div.thumbnails {
	position: absolute;
	top: 50%;
	right: 100%;
	margin-right: 30px;
	padding: 0;
	z-index: 200;
	-webkit-transform: translateY(-50%);
	-moz-transform:    translateY(-50%);
	-ms-transform:     translateY(-50%);
	-o-transform:      translateY(-50%);
	transform:         translateY(-50%);
}

.woocommerce div.product .grve-fullwidth div.images.grve-product-images div.thumbnails {
	right: auto;
	left: 0;
}

.woocommerce div.product div.images div.thumbnails .grve-thumbnails-wrapper {
	visibility: hidden;
}

.woocommerce div.product div.images div.thumbnails .grve-thumbnails-inner.grve-with-transition {
	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
}

.woocommerce div.product div.images div.thumbnails .grve-arrow-next,
.woocommerce div.product div.images div.thumbnails .grve-arrow-prev {
	position: absolute;
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 18px;
	left: 0;
	cursor: pointer;
	line-height: 20px;
	opacity: 0.7;
	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
}

.woocommerce div.product div.images div.thumbnails .grve-arrow-next:hover,
.woocommerce div.product div.images div.thumbnails .grve-arrow-prev:hover {
	opacity: 1;
}

.woocommerce div.product div.images div.thumbnails .grve-arrow-next.grve-disable-arrow,
.woocommerce div.product div.images div.thumbnails .grve-arrow-prev.grve-disable-arrow {
	visibility: hidden;
}

.woocommerce div.product div.images div.thumbnails .grve-arrow-next {
	bottom: -25px;
}

.woocommerce div.product div.images div.thumbnails .grve-arrow-prev {
	top: -25px;
}

.woocommerce #content div.product div.thumbnails .grve-thumb-item,
.woocommerce div.product div.thumbnails .grve-thumb-item,
.woocommerce-page #content div.product div.thumbnails .grve-thumb-item,
.woocommerce-page div.product div.thumbnails .grve-thumb-item {
	padding: 8px;
}

.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
	float: none;
	width: auto;
	display: block;
	width: 60px;
	margin: 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	z-index: 3;
	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
	-webkit-backface-visibility : hidden;
	-moz-backface-visibility    : hidden;
	-ms-backface-visibility     : hidden;
}

.woocommerce #content div.product div.thumbnails a:hover,
.woocommerce div.product div.thumbnails a:hover,
.woocommerce-page #content div.product div.thumbnails a:hover,
.woocommerce-page div.product div.thumbnails a:hover {
	-webkit-transform: scale(1.2);
	-moz-transform:    scale(1.2);
	-ms-transform:     scale(1.2);
	-o-transform:      scale(1.2);
	transform:         scale(1.2);
	z-index: 10;
}

.woocommerce #content div.product div.thumbnails a img,
.woocommerce div.product div.thumbnails a img,
.woocommerce-page #content div.product div.thumbnails a img,
.woocommerce-page div.product div.thumbnails a img {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}

@media only screen and (max-width: 1023px) {
	#grve-entry-summary {
		padding: 30px 0;
	}
	.woocommerce div.product .grve-fullwidth div.images.grve-product-images div.thumbnails,
	.woocommerce div.product div.images.grve-product-images div.thumbnails {
		position: relative;
		margin-right: 0;
		top: 0;
		left: 50%;
		text-align: center;
		margin-top: 30px;
		-webkit-transform: translateX(-50%);
		-moz-transform:    translateX(-50%);
		-ms-transform:     translateX(-50%);
		-o-transform:      translateX(-50%);
		transform:         translateX(-50%);
	}

	.woocommerce #content div.product div.thumbnails .grve-thumb-item,
	.woocommerce div.product div.thumbnails .grve-thumb-item,
	.woocommerce-page #content div.product div.thumbnails .grve-thumb-item,
	.woocommerce-page div.product div.thumbnails .grve-thumb-item {
		display: inline-block;
	}
	.woocommerce div.product div.images.grve-product-images div.thumbnails .grve-thumbnails-wrapper {
		visibility: visible;
	}
}


/* Product Meta */
.summary .product_meta {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid;
	border-color: inherit;
}

.summary .product_meta .grve-single-product-meta {
	margin-bottom: 3px;
}

/* Responsive Gallery */
@media only screen and (max-width: 1200px) {
	.grve-product-area .grve-container {
		max-width: 90% !important;
	}
	.woocommerce div.product .grve-fullwidth div.images.grve-product-images,
	.woocommerce div.product .grve-fullwidth div.summary {
		padding: 0;
		max-width: 100%;
	}

	.woocommerce div.product .grve-product-image {
		float: none;
		width: auto;
	}

	.woocommerce div.product div.images.grve-product-images div.thumbnails {
		float: none;
		width: auto;
		padding: 0;
	}

	.woocommerce div.product div.images.grve-product-images .grve-gallery-popup a {
		float: left;
		width: 20%;
		margin: 20px 0 0 20px;
	}

	.woocommerce div.product div.images.grve-product-images .grve-gallery-popup a.first {
		float: left;
		margin: 20px 0 0 0;
	}

}

.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
	margin-bottom: 0;
}

/* In Stock */
.woocommerce div.product .stock {
	color: inherit;
	margin-top: 28px;
	border: 1px solid;
	border-color: inherit;
	padding: 0 12px;
	line-height: 30px;
	display: inline-block;
}

ul.grve-variations {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grve-variations > li {
    clear: both;
}

.woocommerce div.product form.cart .variations {
	margin-bottom: 0px;
}

.grve-var-label {
	margin-right: 10px;
	float: left;
	line-height: 42px;
	min-width: 80px;
}

.grve-var-label + .grve-var-content {
	overflow: hidden;
}

a.grve-reset-var i {
	vertical-align: middle;
}

.woocommerce div.product form.cart .group_table td {
	vertical-align: middle;
	padding: 20px 0;
	text-align: left;
}

/* SKU */
.grve-single-post-meta {
	display: block;
	margin-bottom: 18px;
}

/* Rating */
.woocommerce div.product .woocommerce-product-rating {
	line-height: 1.2;
	margin-bottom: 18px;
}

.woocommerce .woocommerce-product-rating .star-rating:before {
	color: inherit;
	opacity: 0.3;
	content:"\53\53\53\53\53";
}

.woocommerce .woocommerce-product-rating .star-rating span:before {
	color: inherit;
}

.woocommerce .woocommerce-product-rating .star-rating {
	margin-top: 0px;
	display: inline-block;
	vertical-align: middle;
	float: none;
	font-size: 10px;
}

.woocommerce-review-link {
	display: inline-block;
	vertical-align: middle;
}

/* Price */
#grve-entry-summary .price {
	margin-bottom: 6px;
}

#grve-entry-summary .price ins,
#grve-entry-summary .price del {
	text-decoration: none;
}

#grve-entry-summary .price del {
	position: relative;
	margin-right: 15px;
}

#grve-entry-summary .price del:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 1px;
	border-top: 2px solid;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: translate(-50%, -50%) rotate(-15deg);
	-moz-transform:    translate(-50%, -50%) rotate(-15deg);
	-ms-transform:     translate(-50%, -50%) rotate(-15deg);
	-o-transform:      translate(-50%, -50%) rotate(-15deg);
	transform:         translate(-50%, -50%) rotate(-15deg);
}

#grve-entry-summary .price del > span {
	opacity: 0.3;
}

/* View Cart Message */
#grve-entry-summary .grve-woo-error,
#grve-entry-summary .grve-woo-info,
#grve-entry-summary .grve-woo-message {
	border: 1px solid;
	border-color: inherit;
	margin-bottom: 0;
	margin-top: 40px;
	color: inherit;
}

/* Button External Link */
#grve-entry-summary p.cart {
	margin-top: 40px;
}

/* Woo Buttons & Inputs
============================================================================= */

.woocommerce .quantity .qty {
	padding: 0 !important;
	width: 50px !important;
	margin-bottom: 0 !important;
}

.woocommerce div.product form.cart div.quantity {
	float: left;
	margin: 0 30px 0 0;
	position: relative;
	min-width: 120px;
}

.woocommerce .grve-cart-content .quantity {
    min-width: 120px;
}

#grve-theme-wrapper .summary input,
#grve-theme-wrapper .summary select {
	padding: 0;
}

#grve-theme-wrapper .summary select {
    padding: 12px 14px;
}

#grve-theme-wrapper .summary button[type="submit"].single_add_to_cart_button {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 40px;
	margin: 0;
	opacity: 1;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.grve-woo-btn {
	padding: 0 1.538em !important;
	line-height: 50px !important;
	margin: 0 !important;
	z-index: 1;
}

#grve-theme-wrapper #grve-content .grve-woo-btn span {
	color: #ffffff;
}

.grve-cart-update-button {
	margin-bottom: 15px;
}

/* Quantity Buttons */
.woocommerce .quantity .grve-qty-btn {
	border: 1px solid;
	border-color: inherit;
	background-color: transparent;
	width: 20px;
	height: 42px;
	color: inherit;
	position: relative;
	display: inline-block;
	vertical-align: top;
	z-index: 3;
	cursor: pointer;
	outline: none;
	padding: 0;
	font-size: 11px !important;
	font-family: Verdana !important;
	font-weight: normal !important;
	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
}
.woocommerce .quantity .grve-qty-btn.plus {
	border-left: none;
}
.woocommerce .quantity .grve-qty-btn.minus {
	border-right: none;
}

@media only screen and (max-width: 767px) {
	.woocommerce .quantity .grve-qty-btn {
		width: 42px;
	}
	.woocommerce table.shop_table .grve-qty-btn {
		display: none;
	}
}

/* Tabs
============================================================================= */
.grve-woo-tabs ul.tabs {
	list-style: none;
	margin: 0;
	text-align: center;
}

.grve-woo-tabs .panel {
	display: none;
}

.grve-woo-tabs ul.tabs li {
	display: inline-block;
	margin-right: 16px;
}

.grve-woo-tabs ul.tabs li:last-child {
	margin-right: 0;
}

.grve-woo-tabs ul.tabs li a {
	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
}

.grve-woo-tabs ul.tabs li a {
	position: relative;
	opacity: 0.3;
}

.grve-woo-tabs ul.tabs li.active a,
.grve-woo-tabs ul.tabs li a:hover {
	opacity: 1;
}

.grve-woo-tabs ul.tabs li a span:after {
	content: '';
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 0;
	height: 2px;
	display: inline-block;
	background-color: #E2E2E2;

	-webkit-animation-duration: .3s;
	-moz-animation-duration: .3s;
	-o-animation-duration: .3s;
	animation-duration: .3s;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-backface-visibility : hidden;
	-moz-backface-visibility    : hidden;
	-ms-backface-visibility     : hidden;
}

@-webkit-keyframes tabs_border_anim {
	0% { width: 0px; }
	100% { width: 100%; }
}

@-moz-keyframes tabs_border_anim {
	0% { width: 0px; }
	100% { width: 100%; }
}

@-o-keyframes tabs_border_anim {
	0% { width: 0px; }
	100% { width: 100%; }
}

@keyframes tabs_border_anim {
	0% { width: 0px; }
	100% { width: 100%; }
}

.grve-woo-tabs ul.tabs li a:hover span:after,
.grve-woo-tabs ul.tabs li.active a span:after {
	-webkit-animation-name: tabs_border_anim;
	-moz-animation-name: tabs_border_anim;
	-o-animation-name: tabs_border_anim;
	animation-name: tabs_border_anim;
}

.grve-woo-tabs #tab-reviews.panel,
.grve-woo-tabs #tab-additional_information.panel {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 200px;
	padding-right: 200px;
	position: relative;
}


.woocommerce table.shop_attributes {
	border-top: 1px solid;
	border-left: 1px solid;
}


/* Comments */
.woocommerce #reviews #comments > h5 {
	margin-bottom: 30px;
	text-align: center;
}

.woocommerce #reviews #comments ol.commentlist li,
.woocommerce-page #reviews #comments ol.commentlist li {
	margin-bottom: 3.333em;
}

.woocommerce #reviews #comments ol.commentlist li:last-child,
.woocommerce-page #reviews #comments ol.commentlist li:last-child {
	margin-bottom: 0
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	margin-bottom: 0.45em;
}


.woocommerce #reviews #comments ol.commentlist li img.avatar,
.woocommerce-page #reviews #comments ol.commentlist li img.avatar {
	float: left;
	position: relative;
	padding: 0;
	width: 50px;
	height: auto;
	background: none;
	border: none;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	margin: 0;
	border: none;
	border-radius: 0;
    overflow: hidden;
    padding: 0 0 0 30px;
    min-height: 50px;
    position: relative;
}

/* Review */
.woocommerce #reviews #review_form_wrapper,
.woocommerce-page #reviews #review_form_wrapper {
	border-top: 1px solid;
}

.woocommerce #reviews h3 {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

.woocommerce #review_form #respond p {
	text-align: center;
	margin-bottom: 30px;
}

.woocommerce p.stars a.star-1,
.woocommerce p.stars a.star-2,
.woocommerce p.stars a.star-3,
.woocommerce p.stars a.star-4,
.woocommerce p.stars a.star-5 {
    border-right: none;
}

.woocommerce p.stars a {
	margin-right: 0.2em;
}

.woocommerce #reviews #comment,
.woocommerce-page #reviews #comment {
    height: 160px;
    display: block;
}

.woocommerce #review_form #respond p.form-submit {
	margin-bottom: 0;
}

.woocommerce #review_form #respond input[type="text"],
.woocommerce #review_form #respond input[type="email"] {
    border-top: none;
    border-left: none;
    border-right: none;
}

@media only screen and (max-width: 767px) {
    .grve-woo-tabs #tab-reviews.panel,
    .grve-woo-tabs #tab-additional_information.panel {
        padding-left: 15px;
        padding-right: 15px;
        overflow: hidden;
    }
}

/* Tags
============================================================================= */
.woocommerce .grve-single-post-meta.grve-tags {
	margin-bottom: 0;
}

.woocommerce .grve-single-post-meta.grve-tags ul {
	list-style: none;
	margin: 0;
	text-align: center;
}

.woocommerce .grve-single-post-meta.grve-tags ul li {
	margin-right: 14px;
	display: inline-block;
	border-color: inherit;
}

.woocommerce .grve-single-post-meta.grve-tags ul li:last-child {
	margin-right: 0;
}

.woocommerce .grve-single-post-meta.grve-tags ul li a {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 8px 12px;
	border: 2px solid;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	line-height: 1.636em;
	border-color: inherit;
	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
}

.woocommerce .grve-single-post-meta.grve-tags ul li a:hover {
	background-color: #1C1F21;
	border-color: #1C1F21;
	color: #ffffff;
}


/* Related
============================================================================= */
.woocommerce .related h5 {
	text-align: center;
	margin-bottom: 30px;
}

.woocommerce .related .products ul,
.woocommerce .related ul.products,
.woocommerce .related ul.products li.product,
.woocommerce-page .related ul.products li.product {
	margin-bottom: 0;
}

.related .grve-product-item,
.related .grve-product-item .grve-isotope-item-inner  {
	margin-bottom: 0 !important;
}

@media only screen and (max-width: 767px) {
	.related .grve-product-item,
	.related .grve-product-item .grve-isotope-item-inner  {
		margin-bottom: 30px !important;
	}
}

/* Upsells
============================================================================= */
.woocommerce .upsells h5 {
	text-align: center;
	margin-bottom: 30px;
}

.upsells .grve-product-item,
.upsells .grve-product-item .grve-isotope-item-inner  {
	margin-bottom: 0 !important;
}

/* Cart
============================================================================= */
.grve-cart-content {
	padding-right: 10%;
}

.grve-border-wrapper {
	border: 2px solid;
	padding: 25px;
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
	margin-bottom: 40px;
}

.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
	border: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 5.000em;
	border-bottom: 1px solid;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
	line-height: 1.2em;
	text-transform: uppercase !important;
	padding: 20px 0;
}

.woocommerce table.shop_table thead th,
.woocommerce-page table.shop_table thead th {
	border: none;
	letter-spacing: 0px;
}

.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
	padding: 3% 10px;
	border-right: none;
}

.woocommerce table.cart .product-thumbnail,
.woocommerce #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail {
	width: 110px;
}

.woocommerce table.cart .product-thumbnail img,
.woocommerce #content table.cart .product-thumbnail img,
.woocommerce-page table.cart .product-thumbnail img,
.woocommerce-page #content table.cart .product-thumbnail img {
	width: 100%;
	height: auto;
}

.woocommerce table.cart .product-name a,
.woocommerce #content table.cart .product-name a {
	display: block;
	line-height: 1.2em;
	color: inherit;
}

.woocommerce table.cart .product-price,
.woocommerce #content table.cart .product-price {}


.woocommerce table.cart td.product-remove {
	padding: 0;
}

.woocommerce a.remove {
	display: block;
	font-size: 1.5em;
	height: 1em;
	width: 1em;
	text-align: center;
	line-height: 1;
	border-radius: 100%;
	color: inherit !important;
	text-decoration: none;
}

.woocommerce a.remove:hover {
	color: inherit !important;
	background: none;
}

.woocommerce a.remove .grve-icon-close {
	font-size: 16px;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
	float: none;
}

.grve-total-title {
	text-align: center;
	margin-bottom: 25px;
	text-transform: uppercase !important;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	padding: 0.5em 1.846em !important;
	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
	border-collapse: separate;
	margin: 0 0 25px 0;
	padding: 0;
	border-left: 1px solid;
}

.woocommerce-cart .wc-proceed-to-checkout {
	padding: 0;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
	padding: 5.000em 0 0 0;
}

.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
	width: 50%;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: 60% !important;
	margin-bottom: 0 !important;
}

.woocommerce .coupon .button,
.woocommerce .coupon input.button {
	width: 30%;
	margin: 0 !important;
}

.woocommerce .cart-collaterals .cross-sells > h2,
.woocommerce-page .cart-collaterals .cross-sells > h2 {
	padding: 25px 0;
	margin-bottom: 25px;
	border-bottom: 1px solid;
	text-transform: uppercase !important;
	text-align: center;
}

.woocommerce td.product-name dl.variation {
	text-align: center;
}

.grve-variation {
	margin-top: 5px;
}

@media only screen and (max-width: 1200px) {
	.grve-cart-content {
		padding-left: 0;
		padding-right: 0;
	}
	.woocommerce td.product-quantity {
		min-width: 40px;
	}

	.grve-cart-collaterals-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Coupon
============================================================================= */
.coupon {
	text-align: center;
}

.grve-cart-content .coupon {
	margin-bottom: 5em;
}

.grve-coupon-btn {
	padding: 0 1.538em !important;
	line-height: 42px !important;
	margin: 0 !important;
	display: inline-block;
}

.coupon input[type='text'] {
    width: 40% !important;
    margin-bottom: 0 !important;
    display: inline-block;
    margin-right: 15px;
    padding: 0 20px !important;
    line-height: 42px;
}

.grve-coupon-title {
	text-align: center;
	margin-bottom: 25px;
	text-transform: uppercase !important;
}

@media only screen and (max-width: 1200px) {
	.coupon {
		margin-bottom: 5.000em;
	}

}

@media only screen and (max-width: 767px) {
	.grve-coupon-btn {
		display: block !important;
		margin: 4px 0 0 0 !important;
		width: 100%;
	}

	.coupon input[type='text'] {
	    width: 100% !important;
	    display: block;
	    margin-right: 0;
	}
}


/* Products
============================================================================= */
.woocommerce .products ul,
.woocommerce ul.products {
	margin: 0 -25px;
	position: relative;
	z-index: 4;
}

@media only screen and (max-width: 1200px) {
	.woocommerce .products ul,
	.woocommerce ul.products {
		margin: 0;
	}
}

.woocommerce .products ul:before,
.woocommerce .products ul:after,
.woocommerce ul.product:before,
.woocommerce ul.product:after {
	display: table;
	content: " ";
}

.woocommerce .products ul:after,
.woocommerce ul.product:after {
	clear: both;
}

/* Column 4 */
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	float: left;
	margin: 0 0 50px 0;
	padding: 0 25px;
	position: relative;
	width: 25%;
}

/* Column 1 */
.woocommerce.columns-1 ul.products li.product,
.woocommerce-page.columns-1 ul.products li.product {
	float: none;
	width: 100%;
}

/* Column 2 */
.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-2 ul.products li.product {
	width: 50%;
}

/* Column 3 */
.woocommerce.columns-3 ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product {
	width: 33.33333333%;
}

/* Column 5 */
.woocommerce.columns-5 ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product {
	width: 20%;
}

/* Column 6 */
.woocommerce.columns-6 ul.products li.product,
.woocommerce-page.columns-6 ul.products li.product {
	width: 16.66666667%;
}

/* Tablet (portrait) */
@media only screen and (max-width: 959px) {

	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product,
	.woocommerce ul.products li.last,
	.woocommerce-page ul.products li.last,
	.woocommerce ul.products li.first,
	.woocommerce-page ul.products li.first,
	.woocommerce ul.products li.product:nth-child(2n),
	.woocommerce-page ul.products li.product:nth-child(2n) {
		clear: none;
		float: left;
	}

	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 50%;
	}

	.woocommerce.columns-3 ul.products li.product,
	.woocommerce-page.columns-3 ul.products li.product,
	.woocommerce.columns-5 ul.products li.product,
	.woocommerce-page.columns-5 ul.products li.product,
	.woocommerce.columns-6 ul.products li.product,
	.woocommerce-page.columns-6 ul.products li.product {
		width: 33.33333333%;
	}
}

/* Smartphone */
@media only screen and (max-width: 767px) {

	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product,
	.woocommerce-page[class*="columns-"] ul.products li.product,
	.woocommerce[class*="columns-"] ul.products li.product,
	.woocommerce.columns-2 ul.products li.product,
	.woocommerce-page.columns-2 ul.products li.product,
	.woocommerce.columns-3 ul.products li.product,
	.woocommerce-page.columns-3 ul.products li.product,
	.woocommerce.columns-5 ul.products li.product,
	.woocommerce-page.columns-5 ul.products li.product,
	.woocommerce.columns-6 ul.products li.product,
	.woocommerce-page.columns-6 ul.products li.product {
		margin: 0;
		clear: both;
		float: none;
		width: 100%;
	}

}

/*
.woocommerce ul.products li.product a img {
	margin: 0 0 24px 0;
}

.grve-product-item .grve-product-media a {
	display: block;
}

.grve-product-item .grve-product-media .star-rating {
	margin: 0;
	position: absolute;
	top: 20px;
	left: 15px;
	opacity: 0;
	-webkit-transition : all .15s .3s;
	-moz-transition    : all .15s .3s;
	-ms-transition     : all .15s .3s;
	-o-transition      : all .15s .3s;
	transition         : all .15s .3s;
	-webkit-transform: scale(0.3);
	-moz-transform:    scale(0.3);
	-ms-transform:     scale(0.3);
	-o-transform:      scale(0.3);
	transform:         scale(0.3);
	-webkit-backface-visibility : hidden;
	-moz-backface-visibility    : hidden;
	-ms-backface-visibility     : hidden;
}

.grve-product-item .grve-product-media.hover .star-rating {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform:    scale(1);
	-ms-transform:     scale(1);
	-o-transform:      scale(1);
	transform:         scale(1);
}

.woocommerce ul.products li.product .price {
	color: inherit;
	display: block;
	margin-bottom: 0;
	font-size: 1em;
}

.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins {
	display: inline-block;
}

.woocommerce ul.products li.product h3 {
	padding: 0;
	margin-bottom: 5px;
}


.grve-product-item .grve-add-to-cart-btn a {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	color: inherit;
}

.grve-product-item .grve-add-to-cart-btn a.add_to_cart_button:before {
	content: "\e908";
	font-family: 'movedo-icons' !important;
	font-size: 12px;
	font-weight: normal;
}

.grve-product-item .grve-add-to-cart-btn a.add_to_cart_button.loading:before {
	-webkit-animation-duration: .3s;
	-moz-animation-duration: .3s;
	-o-animation-duration: .3s;
	animation-duration: .3s;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	animation-iteration-count:infinite;

	-webkit-animation-name: cart_loading;
	-moz-animation-name: cart_loading;
	-o-animation-name: cart_loading;
	animation-name: cart_loading;
}

@-webkit-keyframes cart_loading {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

@-moz-keyframes cart_loading {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

@-o-keyframes cart_loading {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

@keyframes cart_loading {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

.grve-product-item .grve-add-to-cart-btn a.added {
	display: none;
}


.grve-product-item .grve-product-content {
	height: 30px;
	overflow: hidden;
}


*/




/* Second Product Image
============================================================================= */
.grve-product-item img.grve-product-thumbnail-second {
	opacity: 0 !important;
	position: absolute;
	top: 0;
	-webkit-transition : all .6s;
	-moz-transition    : all .6s;
	-ms-transition     : all .6s;
	-o-transition      : all .6s;
	transition         : all .6s;
}

.grve-product-item .hover img.grve-product-thumbnail-second {
	opacity: 1 !important;
}


/* Products Grid
============================================================================= */
.grve-product-item .grve-isotope-item-inner {
	margin-bottom: 30px;
	position: relative;
}

.grve-product-item .grve-media {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.grve-product-item a.grve-item-url {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.grve-product-item .grve-title {
	line-height: 1.400em;
	margin-bottom: 0;
}

.grve-product-item figcaption .price {
	margin-top: 6px;
	display: block;
}

.woocommerce .grve-product-item.product p.price,
.woocommerce .grve-product-item.product span.price {
	color: inherit;
	font-size: 1em;
}

.grve-product-item .grve-product-price,
.grve-product-item .grve-add-to-cart-btn {
	height: 30px;
	line-height: 30px;
}

.grve-product-item .grve-add-to-cart-btn a {
	color: inherit;
}

/* On Sale */
.grve-product-item span.onsale {
	min-height: auto;
	min-width: auto;
	text-transform: uppercase;
	position: absolute;
	text-align: center;
	font-size: 11px;
	top: 15px;
	left: 15px;
	margin: 0;
	min-width: 40px;
	min-height: 40px;
	max-width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	color: #000000;
	background-color: #ffffff;
	z-index: 6;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-webkit-transition : cubic-bezier(.01,.21,0,1) .3s;
	-moz-transition    : cubic-bezier(.01,.21,0,1) .3s;
	-ms-transition     : cubic-bezier(.01,.21,0,1) .3s;
	-o-transition      : cubic-bezier(.01,.21,0,1) .3s;
	transition         : cubic-bezier(.01,.21,0,1) .3s;
}

.grve-product-item .hover span.onsale {
	-webkit-transform: scale(0);
	-moz-transform:    scale(0);
	-ms-transform:     scale(0);
	-o-transform:      scale(0);
	transform:         scale(0);
}

/* Add to Cart */
.grve-product-item .grve-add-cart-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	text-align: center;
	background-color: #000000;
	-webkit-transition : all 0.3s cubic-bezier(.05,.8,.5,1);
	-moz-transition    : all 0.3s cubic-bezier(.05,.8,.5,1);
	-ms-transition     : all 0.3s cubic-bezier(.05,.8,.5,1);
	-o-transition      : all 0.3s cubic-bezier(.05,.8,.5,1);
	transition         : all 0.3s cubic-bezier(.05,.8,.5,1);
	-webkit-transform: translateY(110%);
	-moz-transform:    translateY(110%);
	-ms-transform:     translateY(110%);
	-o-transform:      translateY(110%);
	transform:         translateY(110%);
}

.grve-product-item .hover .grve-add-cart-wrapper {
	-webkit-transform: translateY(0);
	-moz-transform:    translateY(0);
	-ms-transform:     translateY(0);
	-o-transform:      translateY(0);
	transform:         translateY(0);
}

.grve-product-item .grve-add-cart-button {
	opacity: 0;
	-webkit-transition : all 0.3s cubic-bezier(.05,.8,.5,1);
	-moz-transition    : all 0.3s cubic-bezier(.05,.8,.5,1);
	-ms-transition     : all 0.3s cubic-bezier(.05,.8,.5,1);
	-o-transition      : all 0.3s cubic-bezier(.05,.8,.5,1);
	transition         : all 0.3s cubic-bezier(.05,.8,.5,1);
	-webkit-transform: translateY(50px);
	-moz-transform:    translateY(50px);
	-ms-transform:     translateY(50px);
	-o-transform:      translateY(50px);
	transform:         translateY(50px);
}

.grve-product-item .hover .grve-add-cart-button {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform:    translateY(0);
	-ms-transform:     translateY(0);
	-o-transform:      translateY(0);
	transform:         translateY(0);
	-webkit-transition-delay: .1s;
	-moz-transition-delay:    .1s;
	-ms-transition-delay:     .1s;
	-o-transition-delay:      .1s;
	transition-delay:         .1s;
}

.grve-product-item .grve-add-cart-wrapper a {
	color: #ffffff;
	display: inline-block;
	padding: 16px 6px;
	opacity: 1;
	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
}

.grve-product-item .grve-add-cart-wrapper a:hover {
	color: #ffffff;
	opacity: 0.6;
}

/* Product Added Icon */
.grve-product-added-icon {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transform: scale(0);
	-moz-transform:    scale(0);
	-ms-transform:     scale(0);
	-o-transform:      scale(0);
	transform:         scale(0);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-webkit-transition : cubic-bezier(.01,.21,0,1) .3s;
	-moz-transition    : cubic-bezier(.01,.21,0,1) .3s;
	-ms-transition     : cubic-bezier(.01,.21,0,1) .3s;
	-o-transition      : cubic-bezier(.01,.21,0,1) .3s;
	transition         : cubic-bezier(.01,.21,0,1) .3s;
}

.grve-product-added .grve-product-added-icon {
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform:    scale(1);
	-ms-transform:     scale(1);
	-o-transform:      scale(1);
	transform:         scale(1);
}

/* Product Category */
.product-category mark {
    background-color: transparent;
}

/* Pagination
============================================================================= */
.woocommerce-pagination {
    margin:0px 0 47px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li span {
    padding: 10px;
    opacity: 0.5;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span:hover,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span:hover,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	opacity: 1;
}

.woocommerce #content nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul,
.woocommerce-page #content nav.woocommerce-pagination ul,
.woocommerce-page nav.woocommerce-pagination ul,
.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce-page #content nav.woocommerce-pagination ul li,
.woocommerce-page nav.woocommerce-pagination ul li {
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
	background: none;
}


/* Product Zoom
============================================================================= */
.easyzoom {
	position: relative;

	/* 'Shrink-wrap' the element */
	display: block;
	*display: inline;
	*zoom: 1;
}

.easyzoom img {
	vertical-align: bottom;
}

.easyzoom-notice {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 150;
	width: 10em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #FFF;
	box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
	position:absolute;
	z-index: 100;
	overflow: hidden;
	background: #FFF;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition:    opacity .5s;
	transition:         opacity .5s;
}

.easyzoom-flyout:hover {
	opacity: 1;
}

.easyzoom-flyout img {
	max-width: none !important;
	width :auto !important;
}

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	margin-left: 20px;
}

/* Checkout
============================================================================= */
.grve-billing-content {
	padding-right: 10%;
}

.woocommerce-billing-fields {
	margin-bottom: 5.000em;
}

.woocommerce table.woocommerce-checkout-review-order-table th,
.woocommerce-page table.woocommerce-checkout-review-order-table th,
.woocommerce table.woocommerce-checkout-review-order-table td,
.woocommerce-page table.woocommerce-checkout-review-order-table td {
	text-align: left;
	padding: 10px 0;
}

.woocommerce table.woocommerce-checkout-review-order-table td.product-name,
.woocommerce-page table.woocommerce-checkout-review-order-table td.product-name {
	width: 60%;
	padding-right: 30px;
}

.woocommerce table.woocommerce-checkout-review-order-table td.product-total,
.woocommerce-page table.woocommerce-checkout-review-order-table td.product-total {
	width: 40%;
}

.woocommerce table.woocommerce-checkout-review-order-table tbody th,
.woocommerce table.woocommerce-checkout-review-order-table tfoot td,
.woocommerce table.woocommerce-checkout-review-order-table tfoot th {
	border-right: none;
}

.woocommerce table.woocommerce-checkout-review-order-table tr.shipping {
	border-bottom: 1px solid;
}

.woocommerce table.woocommerce-checkout-review-order-table tr.order-total th {
	vertical-align: middle;
	padding: 20px 0;
}

.woocommerce table.woocommerce-checkout-review-order-table tr.order-total td h3 {
	vertical-align: middle;
	margin-bottom: 0;
	padding: 20px 0;
}

table.woocommerce-checkout-review-order-table .grve-variation {
	text-align: left;
}

.woocommerce .woocommerce-customer-details address {
    border: none;
    text-align: center;
	font-style: italic;
}

/* - Woo Accordions
========================================================================= */
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border: none;
	padding: 0;
	margin: 0;
	text-align: left;
	border-radius: 0;
}

/* Thank you page
============================================================================= */
ul.order_details {
	text-align: center;
	padding: 2.500em 0;
}
.woocommerce ul.order_details li {
	float: none;
	display: inline-block;
	text-align: left;
}

.grve-thankyou-content {
	max-width: 770px;
	margin: 0 auto;
	text-align: center;
}


/* - Woo Categories Widget
========================================================================= */
.widget.woocommerce.widget_product_categories ul {
	margin: 0;
	list-style: none;
}

.widget.woocommerce.widget_product_categories li {
	margin-bottom: 18px;
	border-color: inherit;
	text-align: right;
	overflow: hidden;
}

.widget.woocommerce.widget_product_categories li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.widget.woocommerce.widget_product_categories ul li a {
	float: left;
	color: inherit;
}

/* - Woo Layered Widget
========================================================================= */
.widget.woocommerce.widget_layered_nav ul {
	margin: 0;
	list-style: none;
}

.widget.woocommerce.widget_layered_nav li {
	margin-bottom: 1.154em;
	padding-bottom: 1.154em;
	border-bottom: 1px solid;
	overflow: hidden;
}

.widget.woocommerce.widget_layered_nav li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.widget.woocommerce.widget_layered_nav ul li {
	text-align: right;
}

.widget.woocommerce.widget_layered_nav ul li a {
	float: left;
}

/* - Woo Mini Cart Widget
========================================================================= */
.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li,
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li  {
	margin-bottom: 1.154em;
	padding-bottom: 1.154em;
	border-bottom: 1px solid;
	overflow: hidden;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 60px;
}

.cart_list .grve-variation {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.grve-subtotal {
	padding-top: 1.154em;
	padding-bottom: 1.154em;
}

/* - Woo Tag Cloud
========================================================================= */
.grve-widget.woocommerce.widget_product_tag_cloud {
	border-color: inherit;
}

.grve-widget.woocommerce.widget_product_tag_cloud a {
	display: inline-block;
	margin-bottom: 4px;
	margin-right: 4px;
	font-size: 12px !important;
	border: 2px solid;
	border-color: inherit;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	line-height: 30px;
	padding: 0 15px;
	color: inherit;
	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
}

/* - Account Navigation
========================================================================= */
.woocommerce-MyAccount-navigation ul {
	margin: 0;
	padding-right: 30px;
	list-style: none;
}

.woocommerce-MyAccount-navigation ul li  {
	margin-bottom: 1.154em;
	padding-bottom: 1.154em;
	border-bottom: 1px solid;
	overflow: hidden;
}

.woocommerce-MyAccount-navigation ul li:last-child  {
	border-bottom: none;
}

.woocommerce-MyAccount-navigation ul li a {
	display: block;
	color: inherit;
	-webkit-transition : all .3s;
	-moz-transition    : all .3s;
	-ms-transition     : all .3s;
	-o-transition      : all .3s;
	transition         : all .3s;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    line-height: 1.2em;
}

@media only screen and (max-width: 767px) {
	.woocommerce-account .woocommerce-MyAccount-navigation,
	.woocommerce-account .woocommerce-MyAccount-content {
		float: none;
		width: 100%;
	}

	.woocommerce-MyAccount-navigation ul {
		padding: 0;
		margin-bottom: 60px;
	}
}
